ansible==2.8.4
appdirs==1.4.3
asn1crypto==0.24.0
base58==1.0.3
blessings==1.7
bsddb3==6.2.6
certifi==2019.11.28
chardet==3.0.4
coloredlogs==10.0
cryptography==2.7
docopt==0.6.2
docutils==0.15.2
fuzzywuzzy==0.17.0
humanfriendly==4.18
inquirer==2.6.3
jmespath==0.9.4
placebo==0.9.0
pycparser==2.19
pygubu==0.9.8.2
readchar==2.0.1
tabulate==0.8.3
